body{
  background: pink;
}
.parent{
  width:100%;
  border: 2px solid purple;
  background: gold;
  display:flex;
  flex-wrap:wrap;
}
.career,.Skills{
width: 90%;
border: 2px solid #000;
background: gold;
margin: 2%;
padding:3%;
text-align: center;
}
.details{
width: 40%;
border: 2px solid #000;
background: gold;
margin: 2%;
padding:2%;
text-align: center;
}
input,select{
  width:80%;
margin:2%;
}
#button{
  background:lightblue;
  font-weight: bold;
  font-size: 20px;
  margin: 2%;
}
